<div  class="col-md-4" style="margin-top: 100px">
  <nb-card class="size-medium">
    <nb-card-header>General Information </nb-card-header>
    <nb-card-body>
      <h5>About</h5>
      <p>
        Drupug is a tool which helps you to find always-up-to-date information about the drugs you are taking.
        This tool was created as part of the HACK Zurich 2021 Event.
      </p>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-md-4" style="margin-top: 100px">
  <nb-card class="size-medium">
    <nb-card-header>Example 1: Xyosted</nb-card-header>
    <nb-card-body >
      <img alt="preview" src="assets/images/xyosted.jpg"  style="max-height: 150px" class="preview-picture" />
      <p class="example-text">Xyosten is medication which is used mainly in the treatment of low testosterone levels in men.</p>
      <button type="button" nbButton status="success" 
        (click)="loadXyoExample();">Show me this example</button>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-md-4" style="margin-top: 100px">
  <nb-card class="size-medium">
    <nb-card-header>Example 2: Zubsolv
    </nb-card-header>
    <nb-card-body>
      <img alt="preview" src="assets/images/zubsolv.jpg" style="max-height: 150px" class="preview-picture" />
      <p class="example-text">Zubsolv is used to treat opioid use disorder, and reduces the mortality of opioid use disorder by 50%.
      </p>
      <button type="button" nbButton status="success"
        (click)="loadZubsolvExample();">Show me this example</button>
    </nb-card-body>
  </nb-card>
</div>