<div  class="col-md-4" style="margin-top: 100px">
  <nb-card class="size-medium">
    <nb-card-header>General Information </nb-card-header>
    <nb-card-body>
      <h5>About</h5>
      <p>
        Drupug is a tool which helps you to find always-up-to-date information about the drugs you are taking.
        This tool was created as part of the HACK Zurich 2021 Event.
      </p>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-md-4" style="margin-top: 100px">
  <nb-card class="size-medium">
    <nb-card-header>Example 1: Janumet</nb-card-header>
    <nb-card-body >
      <img alt="preview" src="assets/images/janumet.jpg" class="preview-picture" />
      <p class="example-text">Janumet is a fixed-dose combination anti-diabetic medication used to treat type 2 diabetes.</p>
      <button type="button" nbButton status="success" 
        (click)="loadJanumetExample();">Show me this example</button>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-md-4" style="margin-top: 100px">
  <nb-card class="size-medium">
    <nb-card-header>Example 2: Hydrea
    </nb-card-header>
    <nb-card-body>
      <img alt="preview" src="assets/images/hydrea.jpg" class="preview-picture" />
      <p class="example-text">Hydrea is a medication used in sickle-cell disease, essential thrombocythemia, chronic myelogenous leukemia and cervical cancer.
      </p>
      <button type="button" nbButton status="success"
        (click)="loadHydreaExample();">Show me this example</button>
    </nb-card-body>
  </nb-card>
</div>